<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDigitalPrinting"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".produk.ResiActivity"
            android:exported="false" />
        <activity
            android:name=".produk.PemesananActivity"
            android:exported="false" />
        <activity
            android:name=".produk.FakturActivity"
            android:exported="false" />
        <activity
            android:name=".produk.DikirimActivity"
            android:exported="false" />
        <activity
            android:name=".produk.DikemasActivity"
            android:exported="false" />
        <activity
            android:name=".produk.RevisiActivity"
            android:exported="false" />
        <activity
            android:name=".profil.AlamatActivity"
            android:exported="false" />
        <activity
            android:name=".produk.PembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".login.NewPassword"
            android:exported="false"/>
        <activity
            android:name=".profil.DataalamatActivity"
            android:exported="false" />
        <activity
            android:name=".profil.ProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".login.ChangepasswordActivity"
            android:exported="false" />
        <activity
            android:name=".produk.opsi.OpsikalenderActivity"
            android:exported="false" />
        <activity
            android:name=".profil.MyprofileActivity"
            android:exported="false" />
        <activity
            android:name=".produk.spesifikasi.SpesifikasisertifikatActivity"
            android:exported="false" />
        <activity
            android:name=".produk.cetak.CetakdesainActivity"
            android:exported="false" />
        <activity
            android:name=".produk.opsi.OpsisertifikatActivity"
            android:exported="false" />
        <activity
            android:name=".produk.cetak.CetakstikerActivity"
            android:exported="false" />
        <activity
            android:name=".produk.cetak.CetakundanganActivity"
            android:exported="false" />
        <activity
            android:name=".produk.cetak.CetakidcardActivity"
            android:exported="false" />
        <activity
            android:name=".produk.opsi.OpsipesananActivity"
            android:exported="false" />
        <activity
            android:name=".produk.opsi.OpsiundanganActivity"
            android:exported="false" />
        <activity
            android:name=".produk.opsi.OpsistickerActivity"
            android:exported="false" />
        <activity
            android:name=".produk.opsi.OpsiidcardActivity"
            android:exported="false" />
        <activity
            android:name=".produk.spesifikasi.SpecstickerActivity"
            android:exported="false" />
        <activity
            android:name=".produk.spesifikasi.SpecidcardActivity"
            android:exported="false" />
        <activity
            android:name=".produk.spesifikasi.SpecdesainActivity"
            android:exported="false" />
        <activity
            android:name=".produk.spesifikasi.SpecundanganActivity"
            android:exported="false" />
        <activity
            android:name=".produk.PosterActivity"
            android:exported="false" />
        <activity
            android:name=".produk.KalenderActivity"
            android:exported="false" />
        <activity
            android:name=".produk.SertifikatActivity"
            android:exported="false" />
        <activity
            android:name=".produk.BrosurActivity"
            android:exported="false" />
        <activity
            android:name=".produk.IdCardActivity"
            android:exported="false" />
        <activity
            android:name=".produk.StickerActivity"
            android:exported="false" />
        <activity
            android:name=".produk.BannerActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegistrasiActivity"
            android:exported="false" />
        <activity
            android:name=".produk.UndanganActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>